html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: "Robot";
    src: url("../fonts/Roboto-Regular.ttf") format("ttf"),
}

html {
    font-family: Robot;
    font-weight: bold;
}



ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

/* nav */

nav {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 999;
}

.nav-link {
    /*border: 1px solid green;*/
    width: 40%;
    padding: 15px 0px;
    min-width: 700px;
}
.ul-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
}
.li-img-logo {
    display: flex;
    align-items: center;
    align-content: center;
}
.li-img-logo img {
    width: 50px;
}
.ul-link li a {
    text-decoration: none;
    color: black;
}

.nav-user {
    /*border: 1px solid green;*/
    width: 150px;
    padding: 15px 30px;
}
.ul-user {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.ul-user li a {
    display: flex;
    align-items: center;
    align-content: center;
}
.ul-user li a img {
    width: 30px;
}

/* acceuil */

.contener {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    /* height: 100%;
    background: no-repeat center/100% url(../images/bc1.png);
    background-position: center top -50px; */
}

.contener a {
    text-decoration: none;
    color: black;
    background-color: #ff6b4d;
    border-radius: 5px;
    padding: 10px 20px;
}

.title {
    font-size: 40px;
}

.contener .text {
    text-align: center;
}

.contener2 {
    border: 1px solid red;
    padding: 70px 0px;
    background-color: #ebeae6;
    background-image: url(../images/bck.png);
    background-size: cover;
    /* height: 100%; */
}

.contener2-left {
    /* border: 1px solid green; */
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contener2-left p {
    text-align: right;
    padding: 30px 0px;
}

.contener2-left a {
    text-decoration: none;
    color: black;
    background-color: #ff6b4d;
    border-radius: 5px;
    padding: 10px 20px;
}

.contener3 {
    padding: 70px;
    background-color: #d8d8d8;
}

.contener3-center p {
    padding: 30px 0px;
}

.contener3-center a {
    text-decoration: none;
    color: black;
    background-color: #ff6b4d;
    border-radius: 5px;
    padding: 10px 50px;
}

.contener3-center div {
    text-align: center;
}

.contener4 {
    padding: 30px 0;
    background-color: #ebeae6;
}
.contener4::before {
    background-image: url(../images/bck.png);
    background-size: cover;
    transform: rotate(30deg);
}

.contener4-carrousel {
    display: flex;
    justify-content: space-around;
}

.contener4-carrousel div {
    /* border: 1px solid red; */
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.img2 {
    background-image: url(../images/img2.jpeg);
    background-position: center;
    background-size: cover;
}
.img3 {
    background-image: url(../images/img3.jpeg);
    background-position: center;
    background-size: cover;
}
.img4 {
    background-image: url(../images/img4.jpeg);
    background-position: center;
    background-size: cover;
}
.img5 {
    background-image: url(../images/img5.jpeg);
    background-position: center;
    background-size: cover;
}

.contener4-switch {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
    height: 28px;
}

.contener4-switch div {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #d9d9d9;
    margin: 0 10px;
}
.contener4-switch .active {
    border: 4px solid #ff6b4d;
}

.footer-contener {
    padding: 30px 0;
    background-color: #d8d8d8;
}
.footer-contener .list-align {
    text-align: center;
    width: 50%;
    font-size: 10px;
}

.footer-contener-list {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    padding: 10px 0;
    margin-bottom: 10px;
}

.footer-contener-list a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}