{{ component('nav') }}
<!-- <img src="{{ asset('images/bc1.png')}}" alt="" srcset=""> -->
<div class="contener">
    <span class="title">ODIN V2</span>
    <span class="text">Cette ensemble de pièces est tout droit inspiré des combats de Gladiateurs <br>
        rappellant la dangerosité des combats.</span>
    <br><a href="">VOIR LE CLAVIER</a>
</div>
<div class="contener2">
    <div class="contener2-left">
        <span class="title">Qu'est ce que KeyLabo</span>
        <p>Vous cherchez un switch ou des keycaps en particulier ? KeyLabo vous <br>
            permet de trouvé toute vos pièces pour la création d'un clavier 100% custom. <br>
            KeyLabo s'adresse au novice comme au expert du clavier custom, proposant des pièces <br>
            de qualités à moindres coup et pour tout les styles et goût différents. <br><br>
            KeyLabo en est à ces début, de nombreuses pièces seront ajouter au fur est à mesure <br>
            que le site grandira, ce qui vous permettra d'avoir une possibilité de création <br>
            infini. La seul limite à la création est votre imagination.
        </p>
        <a href="">VOIR LES COMPOSENTS</a>

    </div>
    <div class="contener2-right">

    </div>
</div>
<div class="contener3">
    <div class="contener3-center">
        <span class="title">KeyLabo</span>
        <p>En plus de vous proposez un large choix de pièces pour vos création, <br>
            KeyLabo vous proposez un service unique. <br><br>
            KeyLabo met à votre disposition un configurateur de clavier <br>
            permettant au plus novice ou expert d'entre vous de créer <br>
            et de visualiser votre futur clavier custom <br>
            avant votre achat.
        </p>
        <div>
            <a href="">KEYLABO</a>
        </div>
    </div>
</div>
<div class="contener4">
    <div class="contener4-carrousel">
        <div class="img2"></div>
        <div class="img3"></div>
        <div class="img4"></div>
        <div class="img5"></div>
    </div>
    <div class="contener4-switch">
        <div class="active"></div>
        <div></div>
        <div></div>
    </div>
</div>
{{ component('footer') }}