{{ component('nav') }}
<div class="contener">
    <div>
        <span>ODIN V2</span>
        <span>Cette ensemble de pièces est tout droit inspiré des combats de Gladiateurs
            rappellant la dangerosité des combats.</span>
        <a href="">VOIR LE CLAVIER</a>
    </div>
</div>
<div>
    tesdt
</div>
{{ component('footer') }}