    <div class="footer-contener">
        <div class="list-align">
            <div class="footer-contener-list">
                <a href="">Livraison</a>
                <a href="">CGV</a>
                <a href="">Mention légales</a>
                <a href="">Retour</a>
                <a href="">Contactez-nous</a>
            </div>
            Copyright 2022 KeyLabo
        </div>
    </div>
</body>
</html>