{{ component('header') }}
<ul>
    <li><a href="/">accueil</a></li>
    <li><a href="boutique">boutique</a></li>
    <li><a href="contact">contact</a></li>
    <li><a href="detail">detail</a></li>
    <li><a href="espaceclient">espace client</a></li>
    <li><a href="keylaboratory"> key labo</a></li>
</ul>
{{ component('footer') }}